@import "./core.css";

body {

    .text-primary-dark {
        color: #2e7d32;
        color: oklch(0.5234 0.1347 144.17);
    }

    @media print {
        .print\:hidden {
            display: none;
        }
    }
}

main {
    contain: paint;
}